<?xml version="1.0"?>
<model>
  <name>Ellipsoid Buoy</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Rhys Mainwaring</name>
    <email>rhys.mainwaring@me.com</email>
  </author>

  <description>
    Test ellipsoid used in the WEC-Sim non-linear hydrodynamics example.
    http://wec-sim.github.io/WEC-Sim/master/user/advanced_features.html#nonlinear-buoyancy-and-froude-krylov-excitation

    "The body tested in the study is an ellipsoid with a
    cross-section characterized by semi-major and -minor axes of 5.0 m and 2.5 m
    in the wave propagation and normal directions, respectively.
    The ellipsoid is at its equilibrium position with its origin located
    at the mean water surface. The mass of the body is then set to 1.342×105 kg,
    and the center of gravity is located 2 m below the origin."

    Notes:
    The mesh from:
    
    https://github.com/WEC-Sim/WEC-Sim_Applications/blob/master/Nonlinear_Hydro/geometry/elipsoid.stl
    
    has the origin at the centre of mass which explains the pose offsets in
    the visual and collision elements.
  </description>

</model>
