<?xml version="1.0" ?>
<model>
  <name>RM3 WEC Mini</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Rhys Mainwaring</name>
    <email>rhys.mainwaring@me.com</email>
  </author>

  <description>
    A 1/10 scale version of the RM3 Wave Energy Converter (WEC).

    A scale model of the RM3 WEC to log wave heights.
    Refer to the full scale model RM3 WEC for details.
  </description>
</model>
