<?xml version="1.0"?>
<model>
  <name>Chain 1m</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Rhys Mainwaring</name>
    <email>rhys.mainwaring@me.com</email>
  </author>

  <description>
    A metre length of chain.
    20mm Galvanised steel short link chain.
    Link diameter D = 20mm
    Link hole H = 30mm
    Link width W = 70mm
    Link length = 100 mm
    Links per metre = 10
    Chain bounding cylinder radius R = 35mm
    Mass per metre m = 9.8 kg/m 
  </description>

</model>
