<?xml version="1.0"?>
<model>
  <name>Shipping Container</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Rhys Mainwaring</name>
    <email>rhys.mainwaring@me.com</email>
  </author>

  <description>
    A standard size shipping container (12.9m x 2.44m x 2.59m)
    Assume that the container has mass equal to 0.25 it's volume of water  
  </description>

</model>
