<?xml version="1.0"?>
<model>
  <name>Spheroid Test1a</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Rhys Mainwaring</name>
    <email>rhys.mainwaring@me.com</email>
  </author>

  <description>
    Spheriod for Test1a 
    - semi axis a = 1.0m
    - semi axis b = c = 0.5m
    - length = 2a
    - diameter = 2b
  </description>

</model>
