
<?xml version='1.0'?>
<model>
  <name>Regular Waves 20s 0m</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>Rhys Mainwaring</name>
    <email>rhys.mainwaring@me.com</email>
  </author>

  <description>
    Regular surface waves T=20s, H=0m.

    This model uses the materials from the `waves`
    model to prevent duplicating the large mesh files.
  </description>
</model>

