
<?xml version='1.0'?>
<model>
  <name>Trochoid Waves</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>Rhys Mainwaring</name>
    <email>rhys.mainwaring@me.com</email>
  </author>

  <description>
    Trochoid surface waves.
    
    This model uses the materials from the `waves`
    model to prevent duplicating the large mesh files.
  </description>
</model>

