<?xml version="1.0" ?>
<model>
  <name>RM3 WEC</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Rhys Mainwaring</name>
    <email>rhys.mainwaring@me.com</email>
  </author>

  <description>
    RM3 Wave Energy Converter (WEC).

    A Gazebo representation of the Sandia National Laboratories
    Reference Model 3: Two-Body Point Absorber. 
    https://wec-sim.github.io/WEC-Sim/dev/user/tutorials.html#two-body-point-absorber-rm3

    The mesh files were retrieved from the WEC-Sim example:
    https://energy.sandia.gov/programs/renewable-energy/water-power/projects/reference-model-project-rmp/
  </description>
</model>
