<?xml version="1.0"?>
<model>
  <name>MBARI Buoy</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>

  <author>
    <name>Michael Anderson</name>
    <email>anderson@mbari.org</email>
  </author>
  <author>
    <name>Louise Poubel</name>
    <email>louise@openrobotics.org</email>
  </author>
  <author>
    <name>Dharini Dutia</name>
    <email>dharini@openrobotics.org</email>
  </author>

  <author>
    <name>Rhys Mainwaring</name>
    <email>rhys.mainwaring@me.com</email>
  </author>

  <description>
    Base MBARI-WEC (Wave Energy Converter) model for ocean sensing
    and harvesting wave energy.

    This is a version of the MBARI-WEC model from https://github.com/osrf/buoy_sim.
    It has been simplified for testing the linear-wave-body model.
  </description>

</model>
