<?xml version="1.0" ?>
<model>
  <name>Duck</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>gcorson</name>
  </author>
  <description>
    Duck

    This is the mesh and texture referenced in the Gazebo tutorial "Import Meshes".
    http://gazebosim.org/tutorials?tut=import_mesh&cat=build_robot

    duck.dae
    https://web.archive.org/web/20120513213905/http://www.c3dl.org/wp-content/2.0Release/Resources/duck.dae

    duck.png
    https://web.archive.org/web/20120513204538/http://www.c3dl.org/wp-content/2.0Release/Resources/duck.png
  </description>
</model>
